In [1]:
import featuretools as ft

In [2]:
data = ft.demo.load_mock_customer()

In [3]:
customers_df = data["customers"]
sessions_df = data["sessions"]
transactions_df = data["transactions"]

In [4]:
entities = {
   "customers" : (customers_df, "customer_id"),
   "sessions" : (sessions_df, "session_id", "session_start"),
   "transactions" : (transactions_df, "transaction_id", "transaction_time")
}

In [5]:
relationships = [("sessions", "session_id", "transactions", "session_id"),
                 ("customers", "customer_id", "sessions", "customer_id")]

In [6]:
feature_matrix_customers, features_defs = ft.dfs(entities=entities,
                                                relationships=relationships,
                                                target_entity="customers")

In [7]:
feature_matrix_customers

,zip_code,COUNT(sessions),NUM_UNIQUE(sessions.device),MODE(sessions.device),SUM(transactions.amount),STD(transactions.amount),MAX(transactions.amount),SKEW(transactions.amount),MIN(transactions.amount),MEAN(transactions.amount),...,NUM_UNIQUE(sessions.WEEKDAY(session_start)),MODE(sessions.MODE(transactions.product_id)),MODE(sessions.DAY(session_start)),MODE(sessions.YEAR(session_start)),MODE(sessions.MONTH(session_start)),MODE(sessions.WEEKDAY(session_start)),NUM_UNIQUE(transactions.sessions.customer_id),NUM_UNIQUE(transactions.sessions.device),MODE(transactions.sessions.customer_id),MODE(transactions.sessions.device)
customer_id,,,,,,,,,,,,,,,,,,,,,
1,60091,8,3,mobile,9025.62,40.442059,139.43,0.019698,5.81,71.631905,...,1,4,1,2014,1,2,1,3,1,mobile
2,13244,7,3,desktop,7200.28,37.705178,146.81,0.098259,8.73,77.422366,...,1,3,1,2014,1,2,1,3,2,desktop
3,13244,6,3,desktop,6236.62,43.683296,149.15,0.418230,5.89,67.060430,...,1,1,1,2014,1,2,1,3,3,desktop
4,60091,8,3,mobile,8727.68,45.068765,149.95,-0.036348,5.73,80.070459,...,1,1,1,2014,1,2,1,3,4,mobile
5,60091,6,3,mobile,6349.66,44.095630,149.02,-0.025941,7.55,80.375443,...,1,3,1,2014,1,2,1,3,5,mobile

In [8]:
sessions_df.groupby('customer_id').count()

             session_id  device  session_start
customer_id
1                     8       8              8
2                     7       7              7
3                     6       6              6
4                     8       8              8
5                     6       6              6

In [9]:
customers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
customer_id      5 non-null int64
zip_code         5 non-null object
join_date        5 non-null datetime64[ns]
date_of_birth    5 non-null datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(1)
memory usage: 240.0+ bytes